<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<style type="text/css">
	.out{

border:1px solid #BFBFBF;
background:white;
margin: 20px auto;
box-shadow:0px 0px  10px 5px #aaa;

}
	.out2{

background:white;
margin-left:10px;
width:700px;
}
	.out3{

border:1px solid #BFBFBF;
background:#F3F3F5;

}
	</style>
</head>
<body >
<div style="width: 100%"align="center">
 <div style="width: 800px" class="out">
<div style="width: 100%;height: 300px;background:#D693A4" align="center">
<br><br><br>
 <table style="width:600px;height:200px;" >
  <tr>
   <td width="150px"><div style="height: 200px;width: 100%"><img alt="" src="/images/index/tt1.png" style="width: 140px;height: 180px;"></div> </td>
   <td><div style="height: 200px;width: 100%"><br><br><font size="6px">张玉东</font><br><font size="5px">急诊科综合&nbsp;&nbsp;副主任医师<br>杭州市江干人民医院 </font>
   <br><font color="blue">34239</font>人问诊&nbsp;&nbsp; <font color="blue"> 254</font>人付款&nbsp;&nbsp; <font color="blue">6</font>人赞赏
   </div></td>
   <td><div style="height: 200px;width: 100%"><br><br><br><input type="button" value="向其咨询" style="width: 100px;height: 35px;" onclick="window.open('/contact/李医生')"></div> </td>
  </tr>
 </table>
</div>
<hr>
<div style="width: 100%;height:150px" align="center">
   <table style="width:600px;height:150px;" >
   <tr>
     <td>
     <div>
     <font size="4px">
    擅长：攻坚阿士大夫撒大撒地方撒地发阿斯蒂芬撒地方氨基酸连接了卡萨丁见覅偶吼吼撒地我加速度利凡诺凉山大火发老师巅峰；厉害拉伸的悍匪你理事大会佛皮肤靶都是播发松岛枫比哈士大夫我blabsdf
    说到ifhi哦哈阿萨德佛海啊啊士大夫撒地方as发生大风娃娃啊。
    </font>
    </div>
     </td>
   </tr>
   </table>
</div>

<hr>
<div style="width: 100%;" align="center">
<div class="out2">
 <table style="width:700px;height:100px;" >
   <tr>
     <td width="26px"><img alt="" src="/images/index/rr.png" style="width: 25px;height: 30px;"></td>
     <td>54sddxxs5</td>
     <td align="right">2020-05-21 23:07:16</td>
    </tr>
    <tr>
     <td colspan="3">多嚷卵巢综合征一般都查什么?</td>
   </tr>
    <tr>
     <td colspan="3" align="center">
     <div class="out3" style="width: 90%;" align="left">
    任何人撒地方阿斯蒂芬；免拼卡就你上课麻烦撒地方撒地方地方；骄傲束带结发第三方爱神的箭弗兰克就暗示等服务是的撒地方撒地方发的我发阿斯蒂芬撒地方阿斯蒂芬武汉东湖双飞粉
     </div>
     </td>
   </tr>
 </table>
<hr>

  <table style="width:700px;height:100px;" >
   <tr>
     <td width="26px"><img alt="" src="/images/index/rr.png" style="width: 25px;height: 30px;"></td>
     <td>54sddxxs5</td>
     <td align="right">2020-05-17 05:07:05</td>
    </tr>
    <tr>
     <td colspan="3">胸部头痛有什么问题呢?</td>
   </tr>
    <tr>
     <td colspan="3" align="center">
     <div class="out3" style="width: 90%;" align="left">
    任何人撒地方阿斯蒂芬；免拼卡就你上课麻烦撒地方撒地方地方；骄傲束带结发第三方爱神的箭弗兰克就暗示等服务是的撒地方撒地方发的我发阿斯蒂芬撒地方阿斯蒂芬武汉东湖双飞粉
     </div>
     </td>
   </tr>
 </table>

<hr>

  <table style="width:700px;height:100px;" >
   <tr>
     <td width="26px"><img alt="" src="/images/index/rr.png" style="width: 25px;height: 30px;"></td>
     <td>54sddxxs5</td>
     <td align="right">2020-04-16 15:04:06</td>
    </tr>
    <tr>
     <td colspan="3">头痛一个月了，而且有吐血现象，我这是怎么了?</td>
   </tr>
    <tr>
     <td colspan="3" align="center">
     <div class="out3" style="width: 90%;" align="left">
    任何人撒地方阿斯蒂芬；免拼卡就你上课麻烦撒地方撒地方地方；骄傲束带结发第三方爱神的箭弗兰克就暗示等服务是的撒地方撒地方发的我发阿斯蒂芬撒地方阿斯蒂芬武汉东湖双飞粉
     </div>
     </td>
   </tr>
 </table>

<hr>
 
  <table style="width:700px;height:100px;" >
   <tr>
     <td width="26px"><img alt="" src="/images/index/rr.png" style="width: 25px;height: 30px;"></td>
     <td>54sddxxs5</td>
     <td align="right">2020-05-21 23:07:16</td>
    </tr>
    <tr>
     <td colspan="3">多嚷卵巢综合征一般都查什么?</td>
   </tr>
    <tr>
     <td colspan="3" align="center">
     <div class="out3" style="width: 90%;" align="left">
    任何人撒地方阿斯蒂芬；免拼卡就你上课麻烦撒地方撒地方地方；骄傲束带结发第三方爱神的箭弗兰克就暗示等服务是的撒地方撒地方发的我发阿斯蒂芬撒地方阿斯蒂芬武汉东湖双飞粉
     </div>
     </td>
   </tr>
 </table>
 </div>
  <br>
  
 </div>
</div>
</div>
</body>
</html>